# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Virtual environment
.env
.venv
env/
venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test and coverage reports
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Editor and IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
Desktop.ini
